* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: white;
  background-color: #F0A500;
}
header {
  padding: 2% 0%;
  background-color: #334756;
  align-items: center;
  justify-content: center;
}
header img{
  width: 500px;
  height: auto;
}
.tituloPrincipal{
  margin: 0 auto;
  padding: 0 auto;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
  font-weight:bold; 
  font-size: 50px; 
  font-weight:900;
  color: rgb(255, 0, 0); 
  text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #d6c636, 0 -1px #d6c636, -2px 2px 0 #d6c636, 2px 2px 0 #d6c636, 1px 1px #efdc2a, 2px 2px #eeda22, 3px 3px #ecd717, 4px 4px #ead40e, 5px 5px #ffe600;
}
header .rest-header{
  display: flex;
  align-items: center;
  font-size: 19px;
}
nav {
  background-color: #082032;
  display: flex;
  justify-content: center;
  display: flex;
}
nav ul{
  margin: 0;
  padding: 0;
}
nav li{
  padding: 0px;
  list-style: none;
  display: flex;
}

nav img{
  width: 145px;
  height: 40px;
  padding: 5px;
  margin: 7.5px 6px;
  border-radius: 10px;
  background-color: white;
}

.buscador{
  text-align: center;
  display: flex;
  margin: 7.5px 6px;
  padding: 1px;
}
.buscador input {
  text-align: center;
  border: 2px solid black;
}
.buscador button{
  border:2px solid black;
  background:rgb(2, 2, 36);
  color:white;
}
/****** contador *****/
::placeholder { color: black; }

.contador{
  text-align: center;
}
.contador input{
  width: 20%;
  text-align: center;
}
.contador1{
  display: inline-flex ;
}
.contador button {
  font-size: 18px;
  padding: 2px 5px;
  margin: 2px;
  cursor: pointer;	
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 50px;
  box-shadow: 0 3px white;
}
.sumaContador{
  background-color: green;
  margin: auto ;
  padding: auto ;
}
.restaContador{
  background-color: red;
  margin: auto;
  padding: auto;
}
.contador p{
  font-size: 30px;
}

.cartWidget{
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
}
.shopping_cart {
  font-size: 30px;
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: None
}
.shopping_cart:hover{
  color: inherit;
}
.cartWidget:hover{
  transform: scale(1.3);
}
/***** Cards Inicio ******/

.card-id{
  margin-top: 9px;
  margin-left: 3px;
  margin-right: 3px;
  padding: 3px;
  background-color: rgb(20, 20, 20);
  color: white;
  border-radius: 10px;
  filter: drop-shadow(0 0 12px black);
}
.card-id:focus{
  filter: none;
}
.card-id h5{
  text-align: center;
}
.card-id a img{
  border-radius: 10px;
  opacity: 0.6;
}
.card-id a img:hover{
  opacity: 1;
} 
.container{
  margin: 0 auto;
  display: block;
}
.tituloContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
.card-id .btn-primary{
  align-items: center;
  display: block;
  margin: 2px auto;
  padding: auto;
}
.tittle{
  text-align: center;
  color: #000000;
  font-size: 35px;
  margin: 80px 70px;
  padding: 0;
}
/*****card-detail*****/
.loading{
  text-align: center;
  font-size: 50px;
}
.card-detail{
  padding: 12px;
  margin: 13px;
  border-radius: 30px;
}
.card-detail img{
  border-radius: 60px;
  filter: drop-shadow(0 0 12px black);
  margin-bottom: 15px;
}
.card-detail .title{
  font-size: 60px;
  font-weight: bold; 
  font-style: italic;
  text-shadow:5px 5px 5px black;
  text-transform: uppercase;
}
.card-detail table{
  border-radius: 15px;
}
.card-detail .biography{
  text-align: left;
}
.card-detail .appearance{
  text-align: left;
}
.card-detail h6{
  text-align: center;
  font-weight: bold; 
  text-decoration: underline;
  font-size: 22px;
}
.card-detail span{
  color: rgb(205, 205, 205);
  font-size: 15px;
}
.card-detail p{
  color: rgb(246, 255, 0);
  font-size: 17px;
}
.card-detail .goback{
  border-radius: 50px;
  margin: 0;
  padding: 0;
  position: absolute; 
  top: 250px; 
  left: 66px;
}
.card-detail .goback{
  background-color: #000000;
  color: white;
  font-size: 35px;
}


.row{
  margin: 0; 
  padding: 0;
}

